/* Navbar styles */
nav {
  background-color: rgb(89, 106, 202);
  padding: 10px;
}

nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-flex;
  justify-content: space-between;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  color: #333;
}

/* Sidebar styles */
aside {
  background-color: #f2f2f2;
  padding: 10px;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside li {
  display: block;
  margin-bottom: 10px;
}

aside li a {
  text-decoration: none;
  color: #333;
}
.head {
  text-align: center;
  padding: 2rem;
  border: 3px solid black;
  box-shadow: darkblue;
}
.sidebar {
  width: fit-content;
  border: 1px solid black;
}
.buton {
  background-color: rgb(89, 106, 202);
  width: 9rem;
  margin: 0.5rem;
  padding: 1rem;
}
.buton:hover {
  background-color: cornsilk;
}
.navbuton {
  padding: 1rem;
  border-radius: 0.5rem;
}
.navbuton:hover {
  border: 3px solide black;
}
.aboutcontent {
  border: 2px solid black;
  position: absolute;
  top: 23%;
  left: 12%;
}
