.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/pgbg.png");
  background-size: cover;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

.study-spot {
  margin-bottom: 2rem;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

input {
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 3px;
}

button {
  padding: 1rem;
  width:9rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color:rgb(14, 117, 14);
  color: #ffffff;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #f2790d;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.header{
  margin:2rem;
}